@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

html{
    background: white;
    height: 50%;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    height: 50%;
}

p.text{
    font-family: 'Fredoka One', cursive;
}

h1.header{
    font-family: 'Ubuntu Condensed', sans-serif;
}