@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
*
{
    margin: 0;
    font-family: 'Rowdies', cursive;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: lightblue;
    overflow-x: hidden;
}

section
{
    position: relative;
    width: 110%;
    height: 110%;
    transform-style: preserve-3d;
    perspective: 500px;
}

section h1{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: #ffff;
    font-weight: 700;
}

.banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.banner .tiles{
    position: relative;
    display: block;
    width: 5vw;
    height: 6vh;
    animation: animate 4s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes animate
{
    0%
    {
        transform: translateZ(2000px);
        background: url(./assets/immersivemedia.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        box-shadow: 0 5px rgba(0, 0, 0, 0.5);

    }
    100%
    {
        transform: translateZ(0px);
        background: url(./assets/immersivemedia.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 5px rgba(0, 0, 0, 0);
    }
}

.section .active .banner .tiles{
    animation: animateStop 4s ease-in-out forwards;
    background: url(./assets/immersivemedia.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 5px rgba(0, 0, 0, 0);
}

@keyframes animateStop
{
    0%
    {
        transform: translateZ(0px);
        background: url(./assets/immersivemedia.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        box-shadow: 0 5px rgba(0, 0, 0, 0.5);

    }
    100%
    {
        transform: translateZ(2000px);
        background: url(./assets/immersivemedia.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 5px rgba(0, 0, 0, 0);
    }
}

.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: changeImage 31s infinite;
}

.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 20s;
}

/*box that contains info for each text*/
.slideshow-item-text{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #ffff;
    padding: 10rem 3rem;
}

.slideshow-item-text h5{
    font-size: 5rem;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
}

.slideshow-item-text p{
    font-size: 1.6rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

@keyframes changeImage {
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom {
    100%{
        transform: scale(1.3);
    }
}

@media screen and (max-width: 767px){
    .slideshow-item-text{
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }

    .slideshow-item-text h5{
        font-size: 3rem;
    }

    .slideshow-item-text p{
        font-size: 1.4rem;
    }
}