@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

body {
  background-color: #de74ec96;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section{
  padding: 20px;
}
.img-it{
  width: 100%;
  height: 100%;
  background-image: url(./assets/InfoTech.jpg);
}
h1.questionHeader{
  top: 760px;
  position: absolute;
  font-size: 20px;
}
h1{
  margin: 0 0 15px 0;
  color: #6967d6;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat Subrayada', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: absolute;
  left: 430px;
  top: 300px;
  color: magenta;
}

.title_info h2{
  top: 40px;
  display: flex;
  position: relative;
}


.title_info p{
  color: #ffff;
  font-size: 24px;
  line-height: 25px;
  text-align: justify;
  font-family: 'Convergence', sans-serif;
  text-align: center;
  display: flex;
}
h2{
  margin: 0 0 15px 0;
  color: #6967d6;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Montserrat Subrayada', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  left: 530px;
  top: 50px;
  font-weight: 900;
}
.elective_info p{
  color: #ffff;
  font-size: 24px;
  line-height: 25px;
  text-align: top;
  font-family: 'Convergence', sans-serif;
  position: relative;
  top: 15px;
  text-align: center;
}
h3{
  margin: 0 10px 15px 0;
  color: #6967d6;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat Subrayada', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.more{
  display: none;
}
.post{
  color: white;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  font-family: 'Convergence', sans-serif;
}
.post:not(:last-child)
{
  margin-bottom: 30px;
}
button{
  margin-top: 15px;
  display: block;
  background-color: #de74ec96;
  color: #e41d3f;
  border: 5px solid #de74ec96;
  outline: none;
  padding: 8px 20px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 20px;
  transition: 1.5s;
}

button:hover
{
  box-shadow: 0 5px 50px 0 #e41d3f inset, 0 5px 50px 0 #e41d3f,
  0 5px 50px 0 #e41d3f inset, 0 5px 50px 0 #e41d3f; 
}

