/*import fonts from googleapis*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body{
    margin: 0;
}

:root{
    --primary-gradient:linear-gradient(to bottom, #fff, #adadaa)
    --label-gradient:linear-gradient(to bottom, #536452 0%, #57dd52 40%, #95e669 100%)
}

.container{  /*setting width, height, colors of whole image container*/
    background: #282c34;
    background: url('../assets/Night_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:97vw;
    height: 89vh;
    font-size: calc(10px + 2vmin);
    color:white;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
}

/*Navigation*/
.navbar{
    display: grid;
    grid-template-columns: 10% 90%;  /*first column have 10% width and second column have 90% width*/
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

.navbar .nav-items{
    text-align: right;
}

.navbar .navbar-brand h5{  /*add some padding and position to the Welcome text*/
    padding: .4rem 2rem;
    margin: 0;
}

.nav-items .navbar-nav{
    list-style-type: none;  /*remove the dots of the listing*/
}