/*import fonts from googleapis*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

html, body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

/*gradient vairables*/
:root{
    --primary-gradient : linear-gradient(to bottom, #ffffff, #adadaa);
    --label-gradient: linear-gradient(to bottom, #536452 0%, #57dd52 40%, #95e669 100%);
}

.container{  /*setting width, height, colors of whole image container*/
    background: #282c34;
    background: url('../assets/Night_3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:92vw;
    height: 89vh;
    font-size: calc(10px + 2vmin);
    color:white;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
}

/*Navigation*/
.navbar{
    display: grid;
    grid-template-columns: 10% 90%;  /*first column have 10% width and second column have 90% width*/
    font-family: 'Oswald', sans-serif;

}

.navbar .nav-items{
    text-align: right;
}

.navbar .navbar-brand h5{  /*add some padding and position to the Welcome text*/
    padding: .4rem 2rem;
    margin: 0;
}

.nav-items .navbar-nav{
    list-style-type: none;  /*remove the dots of the listing*/
}

.navbar-nav .nav-link{  /*Home, Quizes, Contact Us and Sign In button arrangment*/
    display: inline-block;
    font-size: 1rem;
    margin: 0 .9rem;  /*add some margin between navigation items*/
}

.navbar-nav .sign-in{  /*updating design of sign in button*/
    border: none;
    padding: .4rem 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
    background: #ee5;
    font-family: 'Oswald', sans-serif;
}

/*styling checkbox*/
.lightswitch {
    width: 40px;
    height: 7px;
    background: rgb(192, 188, 188);
    margin: 20px auto;
    border-radius: 100px;
    position: relative;
}

.lightswitch label{
    display: block;
    width: 19px;
    height: 19px;
    background: #0f0c29;
    background: var(--label-gradient);
    border-radius: 50px;
    position: absolute;
    top: -6px;
    left: -1px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all .5s ease;
}

.lightswitch input[type="checkbox"]{
    position: absolute;
    left:-8px;
    top: -6px;
    width: 50px;
    opacity: 0;  /*make checkbox invisible*/
}

/*when the check box i checked, label will move accordingly and change color*/
.lightswitch input[type="checkbox"]:checked + label{
    left:25px;
    background: tomato;
}

/*Shops*/

.imglayer{  /*move all the shops left*/
    position: absolute;
    top: 50%;
    left: 22%;
}

.imglayer img{
    width: 59vw;
}

/*increase size of timer and display timer behind the shop*/

.container h4{
    font-size: 11rem;
    margin: 0 .4rem;
    padding: 0 1rem;
    margin-top: 2rem;
    font-family: 'Ubuntu', sans-serif;;
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#homeSection{
    padding-bottom: 10%;
    font-size: calc(7px + 2vmin);
    color:white;
    background-image: url("../assets/programming\ evolution.jpg");
    background-blend-mode: screen;
    border-width: 0;
    border:0;
    background-size: cover;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    background-repeat: no-repeat;
    height: 95vh;
}

.coursesSection{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.coursesSection h1{
    font-size: 36px;
    font-weight: 600;
}
.coursesSection p{
    color: #ffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.courseRow{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

#quizSection{
    height: 760px;
    font-size: calc(7px + 2vmin);
    color:white;
    text-align: center;
}

#quizSection h2{
    color: lightblue;
    font-family: 'Mochiy Pop P One', sans-serif;
    word-spacing: 5px;

}

#signInSection{
    height: 760px;
    font-size: calc(7px + 2vmin);
    color:white;
    text-align: center;
}

h1{
    font-size: 3.2rem;
    margin: 60px;
    text-align: center;
    padding:0;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#homeSection h2{
    color: yellow;
    font-size: 40px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}

p.paragraphAboutJob{
    font-size: 26px;
    text-align: center;
    color: white;
    margin: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    word-spacing: 5px;
    display: flex;
    line-height: 1.8em;
}

button.jobButton{
    text-align: center;
    border: none;
    padding: .2rem 4rem;
    border-radius: 3rem;
    margin-right: 2rem;
    background: #ee5;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

#homeSection p.paragraph{
    font-size: 26px;
    text-align: center;
    color: white;
    margin: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    word-spacing: 5px;
    display: flex;
    line-height: 1.8em;
}

button.quizLink{
    font-size: larger;
    background: black;
    border: none;
    padding: 0 100px;
    border-radius: 1rem;
    margin-right: 2rem;
    height: 60px;
    background: yellow;
    font-family: 'Oswald', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}
.contact-title{
    font-family: 'Libre Baskerville', serif;
    margin-top: 100px;
    color: blueviolet;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background:transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color:#fff;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height:45px;
}
form .submit{
    background: yellow;
    border-color: transparent;
    color:blueviolet;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 8px;
}
h2.textHeader
{
    font-family: 'Prompt', sans-serif;
    color: white;
}